<nav>
    <div class="nav-wrapper green lighten-5">
      <a href="#!" class="brand-logo green-text">Organix</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger green-text"><i class="fa-solid fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/products" class="green-text"><i class="fa-solid fa-shop"></i></a></li>
        <li><a href="/cart" class="green-text"><i class="fa-solid fa-cart-shopping"></i></a></li>
        <li><a href="#" class="green-text"><i class="fa-solid fa-map-marker"></i></a></li>
        <li><a href="#" class="green-text"><i class="fa-solid fa-user"></i></a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/products">Shop</a></li>
    <li><a href="/cart">Cart</a></li>
    <li><a href="#">Location</a></li>
    <li><a href="#">Account</a></li>
  </ul>

<script>
    $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
